.card {
  max-width: 300px;
  &__rating-box {
    display: flex;
    align-items: flex-start;
  }

  &-body {
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 20px 0 $color-primary;
  }
}
